$ngx-fileupload-example--font-path: "./example/assets/fonts";

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~highlight.js/styles/github.css';
@import '~igniteui-angular/lib/core/styles/themes/index';
@include igx-core();
@include igx-theme($purple-palette);

/* You can add global styles to this file, and also import other style files */
body {
    padding: 4.5rem 0;
}
