@import 'variables';

:host {

    ::ng-deep {
        app-ui--header .navbar {
            background-color: map-get($colors, black);
            color: map-get($colors, text);

            .nav-link {
                color: map-get($colors, textDark);
            }

            .nav-link.route-link-active {
                color: inherit;
            }
        }
    }
}
